.footer {
  display: block;
  width: 100%;
  height: 0;
}
.footer-text {
  background-color: black;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "open sans", bold;
  font-size: 80%;
  color: white;
}
